{% extends "base.html" %}

{% block content %}
    <div>
        <h2 style="padding-left: 160px;">Оформление каюты</h2>
        <div class="mt-4" style="padding-left: 80px;">
            <table border="1">
                <tr>
                    <th>Цвет стен</th>
                    <th>Эмблема</th>
                </tr>
                <tr>
                    <td style="background-color: {{ wall_color }}; width: 300px; height: 200px;"></td>
                    <td><img src="{{ url_for('static', filename='img/' + image) }}" width="300"></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}